
    .flashcard {
    width: 250px;
    height: 300px;
    perspective: 1000px;
    position: relative;
    border-radius: 4px;
  }
  
  .flashcard__front,
  .flashcard__back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Remove this line */
    transition: transform 1s;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    line-height: 1.5;
  }
  
  .flashcard__back {
    transform: rotateY(180deg);
    background-color: #E08E65;
  }
  
  .flipped {
    transform: rotateY(0deg);
  }
  
  .hidden {
    display: none;
  }

  #deck-bg {
    background-image: url(../../../../../public/images/games/flashcards-deck4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #00000010;
  }
