#pagina1{
    background-image: url(../../../../public/images//certificado/certificate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pagina2{
    background-image: url(../../../../public//images/backgrounds/variaspalavras.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}