/* ToggleDarkButton */
.toggle-container {
  --size: 2rem;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.toggle-icon {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 12px #151c6525;
  overflow: visible !important;
}

.dark .toggle-icon {
  box-shadow: 0 0 14px rgba(255, 215, 0, 0.75);
}

.toggle-icon svg {
  width: 60%;
  height: 60%;
}