/* games.css */
.feedback-message {
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 8px;
  position: relative;
  animation: slideDown 0.5s ease forwards;
  opacity: 0;
  transform: translateY(-100%);
}

.correct {
  background-color: #4caf50; /* Green */
  color: white;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
}

.incorrect {
  background-color: #f44336; /* Red */
  color: white;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
}

.skip{
  background-color: #e27712; /* Red */
  color: white;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
}

.error{
  background-color: #e2b900; /* Red */
  color: white;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
}



@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* games.css */
.progressBar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 9px;
} 

.timeLeft {
  height: 100%;
  transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.wordle{
  background-image: url('../../../public/images/games/wordlebg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}

.guessly{
  background-image: url('../../../public/images/games/guessly.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}

.cardsbg{
  background-image: url('../../../public/images/games/flashcards.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}

.fluencyjam{
  background-image: url('../../../public/images/games/langjam.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;  
}