@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }

.flag-wrapper {
  border-radius: 24px; /* Adjust the value as needed for desired roundness */
  overflow: hidden; /* Ensure the flag fits within the rounded border */
}
