#apostilas-background{
    background-image: url(../../../../public/images/suporte/apostilas-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}